@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
.nav {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-links {
    display: flex;
    align-items: center;
}
a{
    margin-right: 25px;
    color: white;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.btn {
    color: white;
    background-color: rgb(0, 166, 255);
    font-family: 'Roboto', sans-serif;
    height: 30px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 4px 4px 0px black;

}